In [1]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'defalt_start_doc_project_folder.7z',
 'default_dtp_project',
 'fonts',
 'git_auto',
 'main.py',
 'README.md',
 'resume',
 'resume.pdf',
 'Untitled.ipynb']

In [2]:
os.listdir('resume')

['contents.py',
 'fonts.py',
 'master.py',
 'section_ids.py',
 'settings.py',
 'text.py',
 '__init__.py',
 '__pycache__']

In [17]:
from resume.text import data
edu = data['education']
tab=edu['table']
tab

{'columns': ['Course', 'Institution', 'Year', 'Remarks'],
 'data': [['Postgraduate Programme in Data Science and Engineering',
   'Great Lakes Institute of Management',
   '2020',
   'Certificate Link: https://verify.greatlearning.in/FFEJOUXA'],
  ['B Th.', 'Urbaniana University, ROMA', '2014', '85%'],
  ['B A-Philosophy', 'Kerala University', '2010', '62%'],
  ['Higher Secondary',
   'St. Mary’s Higher Secondary School, Pattom, Trivandrum',
   '2007',
   '82%'],
  ['SSLC-10',
   'Sacred Heart High School, Mylapra, Pathanamthitta',
   '2004',
   '80%']]}

In [7]:
data.keys()

dict_keys(['summary', 'keyskills', 'professional_summary', 'projects', 'education', 'other_certifications', 'contact'])

In [10]:

edu.keys()

dict_keys(['heading', 'table'])

In [15]:

tab.keys()

dict_keys(['columns', 'data'])

In [16]:
tab['columns']

['Course', 'Institution', 'Year', 'Remarks']

In [8]:
import pandas as pd

In [16]:
# EDUCATION	
string='''Course
Institution
Year
Remarks

Postgraduate Programme in Data Science and Engineering
Great Lakes Institute of Management
2020
Certificate Link: https:// verify.greatlearning.in/ FFEJOUXA

B Th.
Urbaniana University, ROMA
2014
85%

B A-Philosophy
Kerala University
2010
62%

Higher Secondary
St. Mary’s Higher Secondary School, Pattom,Trivandrum
2007
82%

SSLC-10 
Sacred Heart High School, Mylapra, Pathanamthitta
2004
80%
'''

In [17]:
string

'Course\nInstitution\nYear\nRemarks\n\nPostgraduate Programme in Data Science and Engineering\nGreat Lakes Institute of Management\n2020\nCertificate Link: https:// verify.greatlearning.in/ FFEJOUXA\n\nB Th.\nUrbaniana University, ROMA\n2014\n85%\n\nB A-Philosophy\nKerala University\n2010\n62%\n\nHigher Secondary\nSt. Mary’s Higher Secondary School, Pattom,Trivandrum\n2007\n82%\n\nSSLC-10 \nSacred Heart High School, Mylapra, Pathanamthitta\n2004\n80%\n'

In [46]:
ls = [[i.strip() for i in row.split('\n')] for row in string.split('\n\n')]

In [47]:
ls

[['Course', 'Institution', 'Year', 'Remarks'],
 ['Postgraduate Programme in Data Science and Engineering',
  'Great Lakes Institute of Management',
  '2020',
  'Certificate Link: https:// verify.greatlearning.in/ FFEJOUXA'],
 ['B Th.', 'Urbaniana University, ROMA', '2014', '85%'],
 ['B A-Philosophy', 'Kerala University', '2010', '62%'],
 ['Higher Secondary',
  'St. Mary’s Higher Secondary School, Pattom,Trivandrum',
  '2007',
  '82%'],
 ['SSLC-10',
  'Sacred Heart High School, Mylapra, Pathanamthitta',
  '2004',
  '80%',
  '']]

In [54]:
df = pd.DataFrame.from_records(ls)
df.columns = df.loc[0]
df.drop(0, inplace=True)
df.drop(columns = [None], inplace=True)

In [55]:
df

,Course,Institution,Year,Remarks
1,Postgraduate Programme in Data Science and Eng...,Great Lakes Institute of Management,2020,Certificate Link: https:// verify.greatlearnin...
2,B Th.,"Urbaniana University, ROMA",2014,85%
3,B A-Philosophy,Kerala University,2010,62%
4,Higher Secondary,"St. Mary’s Higher Secondary School, Pattom,Tri...",2007,82%
5,SSLC-10,"Sacred Heart High School, Mylapra, Pathanamthitta",2004,80%

In [62]:
dct = df.to_dict(orient='split')
dct.keys()

dict_keys(['index', 'columns', 'data'])

In [66]:
dct

{'index': [1, 2, 3, 4, 5],
 'columns': ['Course', 'Institution', 'Year', 'Remarks'],
 'data': [['Postgraduate Programme in Data Science and Engineering',
   'Great Lakes Institute of Management',
   '2020',
   'Certificate Link: https:// verify.greatlearning.in/ FFEJOUXA'],
  ['B Th.', 'Urbaniana University, ROMA', '2014', '85%'],
  ['B A-Philosophy', 'Kerala University', '2010', '62%'],
  ['Higher Secondary',
   'St. Mary’s Higher Secondary School, Pattom,Trivandrum',
   '2007',
   '82%'],
  ['SSLC-10',
   'Sacred Heart High School, Mylapra, Pathanamthitta',
   '2004',
   '80%']]}